* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    color: #0C71C3;
    font-weight: bolder !important;
    margin: 3% 0%;
}

.section-header {
    width: fit-content;
}

.ul {
    height: 5px;
    background-color: #0C71C3;
    border-radius: 10px;
    width: 100%;
}

section {
    padding: 10px;
}

p {
    text-align: justify;
    margin-bottom: 0px !important;
}

.rw {
    padding-right: 0px !important;
}

.rwabout {
    display: flex;
    padding-right: 0px !important;
    justify-content: center;
    flex-direction: column;
}

.main-poster {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 50% !important;
}

.description {
    font-size: large;
    margin-top: 2vh;
}

.logo {
    width: 150px;
    padding: 20px;
}

/**************
form feild
**************/

.form__group {
    position: relative;
    padding: 10px 0 0;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 15px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
    font-weight: 500;
}

.form__field:focus {
    padding-bottom: 6px;
    border-color: #0C71C3;
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 15%;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #0C71C3;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


/************************
Dropdown
************************/
span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

.ts,
.choice {
    font-weight: 500;
}

/*Styling Selectbox*/
.dropdown {
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    transition: all .5s ease;
    position: relative;
    font-size: 17px;
    color: #9b9b9b;
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding-bottom: 5px;
}

.dropdown .select>i {
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown.active .select>i {
    transform: rotate(-180deg);
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #000000;
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}

.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/*************************
OTHER DROPDOWNS
*************************/
span.msg,
span.choose {
    color: #555;
    padding: 5px 0 10px;
    display: inherit
}

/*Styling Selectbox*/
.dropdown1 {
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    transition: all .5s ease;
    position: relative;
    font-size: 17px;
    color: #9b9b9b;
    height: 100%;
    text-align: left
}

.dropdown1 .select {
    cursor: pointer;
    display: block;
}

.dropdown1 .select>i {
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown1.active .select>i {
    transform: rotate(-180deg);
}

.dropdown1 .dropdown-menu1 {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown1 .dropdown-menu1 li {
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: #9b9b9b;
}

.dropdown1 .dropdown-menu1 {
    padding: 0;
    list-style: none
}

.dropdown1 .dropdown-menu1 li:hover {
    background-color: #f2f2f2
}

.dropdown1 .dropdown-menu1 li:active {
    background-color: #e2e2e2
}





/****************
form
****************/
.war {
    display: none;
    margin-bottom: 0 !important;
}

.war-active {
    color: red;
    font-size: smaller;
    display: block;
}

.participants {
    border: 2px solid #0C71C3;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}

.participant-label {
    color: #0C71C3;
    font-weight: 600;
}

.participant {
    margin-bottom: 20px;
}

.btn1 {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    border-radius: 10px;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: #9b9b9b;
    border: 2px solid #0C71C3;
    z-index: 1;
}

.btn1:hover {
    color: white;
}

.btn1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #0C71C3;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btn1:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .circle {
    background-color: #555;
    border-radius: 50%;
    height: 15px;
    width: 15px;
} */

.span-slider {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.span-slider a {
    display: none;
    background-color: #b8b8b8;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 3px;
}

a:active {
    background-color: #9b9b9b !important;
    height: 12px;
    width: 12px;
}

.submit {
    margin-bottom: 1rem;
}

/*******************
FOOTER
*******************/
.footer {
    background-color: #202332;
    color: #d3d3d3;
    padding: 15px 0;
}

.msg {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed !important;
    top: 10%;
    right: 5%;
    z-index: 1000;
    opacity: 0;

    i {
        color: green;
    }
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.sm-logo {
    color: #d3d3d3;
    margin: 10px;
    font-size: 20px !important;
}

/********************************
MEDIA QUERIES
********************************/

@media screen and (min-width: 768px) {
    .container {
        min-width: 85vw !important;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        width: 100px;
        padding: 5px;
    }

    h2 {
        font-size: large !important;
    }
}

@media screen and (max-width: 576px) {

    .img {
        width: 100% !important;
    }

    .description {
        font-size: small;
    }

    .span-slider {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .span-slider a {
        display: block !important;
    }

    .participants {
        display: flex;
        overflow-x: scroll;
        margin: 10px auto;
        padding: 10px;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .participant {
        min-width: 100% !important;
        padding: 15px;
        margin: 0;
        scroll-snap-align: center;
    }

    .footer {
        flex-direction: column !important;
        padding: 0;
        font-size: small;
        padding: 2vh 2vh;
    }

    .sm-logo {
        font-size: 15px !important;
    }

    .msg {
        width: 70%;
    }
}

@media screen and (max-width: 341px) {
    .footer {
        font-size: 12px !important;
        padding: 2vh 2vh;
    }

    .sm-logo {
        font-size: 15px !important;
    }
}